<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p align="center">
            Hallo {{name}} <br>
            This is the profile page, but will be update soon
            <a href="/" class="btn btn-warning btn-sm"><b>go shoping</b></a>
        </p>
    </div>
</div>

